{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{%static 'app/css/style.css' %}" rel="stylesheet"/>
        <link href="{%static 'app/css/owl.carousel.min.css' %}" rel="stylesheet"/>
        <link href="{%static 'app/css/all.min.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="{%static 'app/js/s3.js' %}"></script>
        <script src="{%static 'app/js/myscript.js' %}"></script>
        <script src="{%static 'app/js/all.min.js' %}"></script>
        <script type="text/javascript">
            var user = '{{request.user}}'
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        const csrftoken = getCookie('csrftoken');
        </script>

        <title>Duck's web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="app/css/style.css">

    </head>
    <body>
        <!-- header -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src=" {% static 'app/images/Neel.png ' %}" width = "50" height = "50"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
                    </li>
                    
                    {% comment %} <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sản phẩm
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sữa</a></li>
                            <li><a class="dropdown-item" href="#">Sữa</a></li>
                            <li><a class="dropdown-item" href="#">Sữa</a></li>
                            <li><a class="dropdown-item" href="#">Sữa</a></li>
                        </ul>

                    </li> {% endcomment %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    </li>

                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Liên hệ</a>
                    </li> {% endcomment %}
                </ul>
                <form class="d-flex" role="search" method = POST action = "{% url 'search' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
                &nbsp;
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

                    {% if request.user %}
                    &nbsp;
                    <p> {{request.user}}</p>
                    &nbsp; &nbsp;
                    <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
                    
                    
                    {% else %}
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
                    </li> 
                    
                    {% endif %}
                    
                    {% comment %} <div class='form-inline my-2 my-lg-0'>          
                        <span>{{request.user}}</span>
                        <span><a href = "{% url 'logout' %}"> Logout </a></span>
                    </div>
                    

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
                    </li> {% endcomment %}
                </ul>
                &nbsp;
                
                <div class='form-inline my-2 my-lg-0'>          
                    <a href="{% url 'cart' %}"><img id="cart-icon" src="{% static 'images/cart.png' %}"></a>
                    <p id="cart-total" >{{cartItems}}</p>
                </div>
            </div>
        </nav>

        <!-- main body -->
        {% block banner_slider %}{% endblock banner_slider %}
        {% block main-content  %}{% endblock main-content %} 
        <!-- giao diện cart -->
        {% block cart_content  %}{% endblock cart_content %}
        {% block content_checkout %}{% endblock content_checkout %}
        {% block profile  %}{% endblock profile %}
        {% block contract  %}{% endblock contract %}
        {% block register %}{% endblock register %}
        {% block search %}{% endblock search %}

        <!-- footer -->
        <footer class="container--fluid bg-dark text-center fixed-bottom p-2 mt-5">
            
            <div class="container-fluid">
                <a href="https://github.com/nguyendinhduc257" style="color: #ecf7fc;">GitHub</a> | <a href="https://www.instagram.com/germany.nguyen.1004/" style="color: #ecf7fc;">instagram</a>
            </div>
        </footer>
        <script src="{%static 'app/js/cart.js' %}"></script>
        <script src="{%static 'app/js/showpass.js' %}"></script>
    </body>
</html>